@layer base.reset {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :where(html) {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
  }

  :where(body) {
    min-height: 100vh;
    min-height: 100dvh;
    text-rendering: optimizeSpeed;
  }

  :where(img, picture, svg) {
    max-width: 100%;
    display: block;
    height: auto;
  }

  :where(button, input, textarea, select) {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    /* outline: none;  PAS besoin, focus visible reste géré ailleurs ! */
  }

  :where(ul, ol) {
    list-style: none;
  }
}
